/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  display: grid;
  min-height: 100vh;
  grid-template-rows: 0fr 1fr 0fr;
}

header,
footer {
  background-color: #333;
}

.conteneur {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.erreur,
.validation {
  padding: 5px;
  margin: 5px;
}

.erreur {
  background: #ff0000;
}

.validation {
  background: #669933;
}

/* Styles boutique */
.boutique-categories {
  background-color: lightgrey;
  width: 100%;
  margin-bottom: 15px;
}
.boutique-categories ul {
  display: flex;
  justify-content: space-evenly;
}
.boutique-categories ul li {
  padding: 10px 15px;
}
.boutique-categories ul li a {
  color: white;
  text-decoration: none;
}
.boutique-categories ul li:hover {
  background-color: #ddd;
}
.boutique-categories ul li:hover a {
  color: black;
}

.boutique-produits {
  flex-grow: 1;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.boutique-produits .boutique-produit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  min-width: 150px;
  margin: 0 10px;
  border: 2px dashed lightgrey;
  border-radius: 8px;
}
.boutique-produits .boutique-produit a {
  color: #f2f2f2;
}

footer {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

orm {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

input {
  margin-bottom: 8px;
}

button.inscription {
  margin-top: 8px;
}

/* tips */
textarea {
  resize: none;
}

table {
  border-collapse: collapse;
  min-width: 1280px;
  width: 95%;
}

table tr td {
  text-align: center;
}

td,
th {
  padding: 5px;
}

table tr,
table tr td {
  border: 2px solid grey;
}

.profil {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 2px solid grey;
  border-radius: 8px;
}

.profil > .centre {
  text-align: center;
}

.profil > .cadre > h2 {
  padding: 10px 0;
  margin: 10px 0;
  border: 2px solid grey;
  border-left: none;
  border-right: none;
}

/*# sourceMappingURL=style.css.map */
